[user]
	email = usama8800@gmail.com
	name = Usama Ahsan
[pull]
	rebase = false
[init]
	defaultBranch = master
[alias]
	st = status -s
	last = log -1 HEAD
	unstage = restore --staged
	untracked = ls-files --other --exclude-standard -x */*
	untracked-dotfiles = ls-files --other --exclude-standard -x dotfiles.git
	add-modified = add --update
[safe]
	directory = /home/usama/Documents/erp
